<div class="ui-container">
  <div class="ui secondary pointing menu">
    <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a
    >&nbsp;
    <a routerLink="/collections" routerLinkActive="active" class="item"
      >Collections</a
    >&nbsp;
    <a routerLink="/views" routerLinkActive="active" class="item">Views</a
    >&nbsp;
    <a routerLink="/mods" routerLinkActive="active" class="item">Modules</a
    >&nbsp;
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
